*{
    margin: 0;
    padding: 0;
    font-family: Impact, fantasy;
}


header {
    text-align: center;
    padding: 2%;
}

.titulo{
    color:  rgb(6, 11, 63);
    font-size: 48px;
    text-align: center;
}

.subtitulo{
    color: #343564;
    font-size: 18px;
    text-align: center;
}

.caixa-cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo{
    height: 50px;
    width: auto;

}

.texto-info{
    color: #343564;
    font-size: 24px;
    text-align: center;
}

nav{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.botao{
    font-size: 16px;
    color: white;
    background-color: #343564;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
}



.textoslide {
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.subtituloslide{
    color: rgb(8, 15, 83);
    font-size: 18px;
    text-align: center;
    font-weight: 100;
}

.subtituloslideleft{
    color: rgb(8, 15, 83);
    font-size: 18px;
    text-align: left;
    font-weight: 100;
}

.textomaior{
    font-size: 15px;
    color: rgb(8, 15, 83);
    text-decoration: none;
    font-weight: 100;
}

.tituloslide{
    font-size: 20px;
    color: rgb(8, 15, 83);
    text-decoration: none;
    font-weight: 100;
}

.programacao-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
}

.coluna {
    width: 48%;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.opcoes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.carrossel{
    position: relative;
    width: 70%;
    max-width: 700px;
    height: 350px;
    margin: 10px auto;
    background-color: #33c3ff;
    border-radius: 8px;
    overflow: hidden;
}

input[type="radio"] {
    display: none;
}

.slides{
    display: flex;
    transition: transform 0.5s ease;
    margin: 10px;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

/*.navegacao {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}*/

/*.botaoslide {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 4px;
    margin: 05px;
    cursor: pointer;
    transition: background-color 0.3s;
}*/


input#slide1:checked ~ .slides {
    transform: translateX(0);
}

input#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

input#slide3:checked ~ .slides {
    transform: translateX(-200%);
}



footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: rgb(6, 11, 63);
    text-align: center;
    padding: 10px;
}

.icone{
    height:14px;
    width: auto;
}

.texto-footer{
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: 100;

}
.titulo-footer{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.caixa-rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
}


